body {
  font-size: 25px;
  color: #000;
  background-image: url(./images/img1.jpg) center center/cover no-repeat;
/* background-size: cover; */
}

h1 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px;
}

.input-container {
display: flex;
text-align: center;
justify-content:center;

}

.input {
  width: 100px;
  border: 1px solid #46494d;
  margin-left: 12px;
}

.button {
  margin-left: 12px;
    appearance: none;
  border: 0px;
  border-radius: 5px;
  background: #46494d;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
}

.footer {
  text-align: center;
  margin-top: 200px;
}
